<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--s6-9-1-1 update title for html page  -->
  <title>Microblog</title>
  <!--s16-1-1-1 add css file link  -->
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
  <!--s6-9-1-2 add header,main,footer in body  -->
  <!--s6-12-1-4 pay attention to the class name of "navbar","navbar__brand","navbar__navigation","navbar__navigation-item" -->
  <header class="navbar">
    <!--s6-12-1-1 add div block to contain image-->
    <div class="navbar__brand">
      <!--s6-11-1-1 add image in the html, alt is the shown text when the image is not avaliable -->
      <img class="navbar__logo" src="/static/logo.svg" alt="The Microblog logo" />Microblog
    </div>
    <!--s6-12-1-2 add no order list to contain many links-->
    <ul class="navbar__navigation">
      <!--s6-12-1-3 add two links -->
      <li class="navbar__navigation-item">
        <a href="#" class="navbar__link">Recent</a>
      </li>
      <li class="navbar__navigation-item">
        <a href="#" class="navbar__link">Calendar</a>
      </li>
    </ul>
  </header>
  <main class="main">
    <!--s6-9-1-3 add section in main-->
    <section>
      <!--s6-9-1-4 add h1 in section-->
      <h1>Add new entry</h1>
      <!--s6-13-1-1 add form-->
      <!--s6-13-1-2 POST method will send data in request header,not in URL-->
      <form class="form" method="POST">
        <!--s6-13-1-6 these sub elements like p and button, like the property of form object -->
        <p class="form__input">
          <!--s6-13-1-3 add label for what id="entry" -->
          <label for="entry" class="form__label">Entry contents:</label>
          <!--s6-13-1-4 add input area in the form -->
          <textarea name="content" id="entry" class="form__textarea"></textarea>
        </p>
        <!--s6-13-1-5 add submit button for form -->
        <button type="submit" class="form__submit">Add entry</button>
      </form>
    </section>
    <section>
      <!--s6-9-1-5 add h1 in section-->
      <h1>Recent posts</h1>
      {% for entry in entries %}
        <article class="entry">
          <!--s6-9-1-6 add div for the title of article-->
          <div>
            <h2 class="entry__title">{{ entry[0] | truncate(30, true) }}</h2>
            <time class="entry__date" datetime="{{ entry[1] }}">• {{ entry[2] }}</time>
          </div>
          <!--s6-9-1-7 add p for the content of article-->
          <p class="entry__content">
            {{ entry[0] }}
          </p>
        </article>
      {% endfor %}
    </section>
  </main>
  <!--s6-15-1-1 add footer for the page  -->
  <footer class="footer">
    <!--s6-15-1-2 a div tag is used to contain all the info of footer  -->
    <div class="footer__content">
      <!--s6-15-1-3 split content in div into two sections-->
      <section class="left">
        <a class="footer__item">Made by Jose Salvatierra</a>
        <a class="footer__item">Check out my other projects</a>
      </section>
      <!--s6-15-1-4 the right section also have two div segment-->
      <section class="right">
        <div class="footer__column">
          <a class="footer__item">Recent</a>
          <a class="footer__item">Calendar</a>
        </div>
        <div class="footer__column">
          <a class="footer__item" href="#">About</a>
          <a class="footer__item">How this was made</a>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>